
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 25%;
    background-color: #333;
    color: white;
    padding: 15px;
    height: 100vh;
}

    .sidebar h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

   

.content {
    width: 75%;
    background-color: white;
    padding: 20px;
}

    .content h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .content p {
        margin-bottom: 15px;
        line-height: 1.6;
    }


